@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Gabarito:wght@400;500&family=Ubuntu+Condensed&family=VT323&display=swap');

a, h1 {
  font-family: 'DotGothic16', sans-serif;
}

.h3 {
  font-family: 'DotGothic16', sans-serif;
}

p{
  font-family: 'DotGothic16', sans-serif;
}

.p1{
  font-size: 100px;
}

img{
  height: 20px;
  width: 20px;
}

h1{
    background-color: rgb(247, 197, 197);
    color: rgb(252, 252, 252);
    font-size: 100px;
    margin-top: 100px;
   text-align: center;
}

.img{
    height: 200px;
    width: 200px;
}
h2{
    color: rgb(247, 197, 197);
    font-family: 'DotGothic16', sans-serif;
    font-size: 100px;
    margin-top: 100px;
    text-align: center;
}
body{
    
    width: 1900px;
    height: 500px;
    background-image: url(ce9a58fc90aeedd0fdec474107df9f05.gif);
    background-repeat: no-repeat;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    height: 200px;
    
    border-radius: 20px;
    margin: auto;
    margin-top:200px;
}
.main2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top:100px;
}



